.btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    transition: $transit;

    &-primary {
        border: 1px solid $primary;
        background-color: $primary;
        box-shadow: 0 1px 2px rgb(68 153 204 / 60%);
        color: $white;
    }

    &-secondary {
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px hsl(0deg 0% 80% / 60%);
        text-transform: uppercase;
    }
}
