.u-container {
    max-width: 140rem;
    padding: 0 3.5rem;
    margin: 0 auto;
    
    @include respond(tab-port) {
        padding: 0 5rem !important;
    }

    @include respond(tab-land) {
        padding: 0 7rem !important;
    }

    @include respond(desktop) {
        padding: 0 !important;
    }
}