*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: lavender;
}

#board {
    /* background: pink; */
    background: url(images/screen.png);

    /* Keepthing the game-board at the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
