/* Reseting browser defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/*
width: justify content
height: align items
*/

/* Main CSS starts from here */
.container{
    width: 100%;
    min-height: 100vh; /* vh = viewport (visible part of a web-page)*/
    background-color: skyblue;
    padding: 10px;
}

.header{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;    /* Top, Left-Right, Bottom */
    padding: 40px 30px 70px; 
    border-radius: 10px;        /* For round corners */
}

.header h2{
    color: red;
    display: flex;  /* To align text and logo */ 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* .header h2 img{
    width: 30px;
    margin-left: 10px;
} */

/* Pages */
.pages{
    display: flex;
    justify-content: space-between;
}









.task-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.task-center input{
    flex: 1;    /*  This means the input will grow to fill any available space within its flex container */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;  /* Boldness of the font */
}

.task-center button{
    border: none;
    outline: none;
    padding: 16px 50px; /* top-bottom and left-roght */
    color: red; /* Color of the text 'create task' */
    background: yellow;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none; /* Prevents user for interacting with it */
    cursor: pointer;
    position: relative;
}

/* '::before' is a pseudo-element to create a visual representation before the content of each list item */
ul li::before{
    content: ''; /* To insert content before the element. Here, it is an empty string but is required for pseudo-element to generate and display*/
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover; /* Ensures that the background image covers the entire area of the pseudo-element */
    background-position: center;    /* Centers the background image within the element */
    top: 12px;
    left: 8px;
    position: absolute;
}

ul li.checked{
    color: blue;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);

}