<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Income Page</title>
  <script type="module" src="../../service/CheckAuth.ts"></script>
  <!-- <script src="https://kit.fontawesome.com/e087eda0a5.js" crossorigin="anonymous"></script> -->
</head>

<body>
  <nav id="nav-placeholder"></nav>
  <main class="container">
    <br><br>

    <section class="row mt-3">
      
      <div class="input-group d-flex col-12 justify-content-center">

        <div class="form-outline w-75" data-mdb-input-init>
          <input type="search" id="search-bar" class="form-control" />
        </div>
        
        <button type="button" class="btn btn-primary" id="btn-search" data-mdb-ripple-init>
          <i class="fas fa-search"></i>
          <b>Search Income</b>
        </button>
        
        <a type="button" class="btn btn-warning" id="btn-add-income">
          <i class="fas fa-add"></i>
          <b>Add Income</b>
        </a>
      
      </div>
    
    </section>
    
    <section class="container p-5 row rounded-3" id="income-container">
      <h1 class="text-center h-75 p-5">No Any Income</h1>
    </section>

    <!-- Add Expense Dialog Box -->
    <section>
      <div class="modal fade" id="add-income-dialog" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="customModalLabel">Income Form</h5>
            </div>
            <div class="modal-body gap-4 d-flex flex-column">
              

              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="add-amount" />
              </div>


              <div class="form-group">
                <label for="amount">Title</label>
                <input type="text" class="form-control" id="add-source" />
              </div>
              
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="add-date" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="btn-save-income" class="btn btn-success">
                Add Income
              </button>

              <button type="button" class="btn btn-warning" id="btn-close-income-dialog">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script type="module" src="./script.ts"></script>
</body>

</html>